{{<govuk_template}}

{{$head}}
  {{>includes/head}}
{{/head}}

{{$content}}

<main id="content" role="main">

  {{>includes/beta-banner}}

  <div class="global-breadcrumb">
    <nav role="navigation">
      <ol>
        <li><a href="#">Find a title</a></li>
        <li><a href="#">Search results</a></li>
        <li><strong>HP725748</strong></li>
      </ol>
    </nav>
  </div>

  <div class="callout callout--summary collapse-top">

    <h1 class="heading-large first-heading">
      Summary of title <span class="title-flag">HP725748</span>
    </h1>

    <p>
      This title was last changed on <b>15 October 2012</b> at <b>11:21:18</b>
    </p>

    <div class="lede grid-row">

      <div class="column-third">

        <div itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress">
            3a Mandela Way<br>
          </span>
          <span itemprop="addressLocality">Southampton</span><br>
          <span itemprop="postalCode">SO15 5RZ</span>
        </div>

      </div>

      <figure class="column-third">
        <div class="title-plan" id="map-location">
          <img src="http://placehold.it/276x184" alt="Map showing location of title address">
        </div>
      </figure>

    </div>

    <dl class="definition-tabular--b">
      <dt>Owner(s)</dt>
      <dd>
        <!-- if there's only 1 registered owner, don't wrap a <ul> -->
        <!--<ul class="collapse">-->
          Darcy Bloggs
      </dd>

      <dt>Lender(s)</dt>
      <dd>Abbey National PLC</dd>

      <dt>Tenure type</dt>
      <dd>Leasehold</dd>

      <dt>Price paid</dt>
      <dd>&pound;188,000 on 3 October 2012</dd>
    </dl>

  </div><!-- end summary -->

  <div class="grid-row">

    <div class="column-third register-nav">
      <section class="page-contents js-stick-at-top-when-scrolling">

        <h2 class="visuallyhidden">Summary of title contents</h2>
        <nav>
          <ul>
            <li><a href="#proprietorship-register">Proprietorship details</a></li>
            <li><a href="#charges-register">Charges details</a></li>
          </ul>
        </nav>

      </section>
    </div>

    <div class="column-two-thirds">

      <section id="proprietorship-register" class="text">
        <h2 class="heading-large">Proprietorship details</h2>

        <details>
          <summary>What are the proprietorship details?</summary>
          <div class="help-indent">
            <p>The proprietorship detail specifies the “quality” of the title and contains details of the legal owner(s).</p>
            <p>It shows whether there are any restrictions on the owner’s ability to sell, mortgage or otherwise deal with the property.</p>
            <p>It may hold details of the price paid for, or value of, the property.</p>
          </div>
        </details>

        <h3 class="font-small collapse-top">Proprietor(s)</h3>

        <!-- Proprietor, multiple addresses -->
        <h4 class="heading-small expand-bottom-half">Darcy Bloggs</h4>
        <div class="grid-row">
          <div class="column-half">
            3a Mandela Way,<br>
            Southampton<br>
            SO15 5RZ
          </div>
          <div class="column-half">
            4 Mandela Way,<br>
            Southampton<br>
            SO15 5RZ
          </div>
        </div>
        <div class="grid-row expand-top">
          <div class="column-half">
            5 Mandela Way,<br>
            Southampton<br>
            SO15 5RZ
          </div>
          <div class="column-half">
            email.address@digital.landregistry.gov.uk
          </div>
        </div>

        <!-- from samples provided -->

        <!-- "Trading as..." -->
        <h4 class="heading-small expand-bottom-half">
          Scotland Company PLC<!-- non_private_individual_name -->
          <span class="font-small">trading as Scotland Life<!-- name_information --></span>
        </h4>
        <div class="expand-bottom-half">Company registration number 223224<!-- company_reg_num --></div>
        <div class="grid-row">
          <div class="column-half">
            Bluebell Cottage<!-- house_description --><br>
            Flower Street<!-- street_name --><br>
            Plymouth<!-- town --></br>
            PL10 1EE<!-- postcode -->
          </div>
        </div>

        <!-- Overseas company -->
        <h4 class="heading-small expand-bottom-half">
          Around the World Ltd<!-- non_private_individual_name -->
          <span class="font-small">incorporated in Turkey<!-- country_incorporation --></span>
        </h4>
        <div class="expand-bottom-half">Company registration number 11223344<!-- company_reg_num --></div>
        <div class="grid-row">
          <div class="column-half">
            The Big House<!-- foreign_bfpo_address_1 --><br>
            Black Mountain<!-- foreign_bfpo_address_2 --><br>
            Turkey<!-- foreign_bfpo_address_3 --><br>
            00123<!-- foreign_bfpo_address_4 -->
          </div>
          <div class="column-half">
            DX<!-- address_type -->12345<!-- dx_no -->, London<!-- exchange_name -->
          </div>
        </div>

        <!-- Multiple proprietors, all individuals, with 'trading as' -->
        <h4 class="heading-small expand-bottom-half">
          Billy<!-- forename --> Brown<!-- surname -->
          <span class="font-small">trading as Brown Solicitors<!-- trading_name --></span>
        </h4>
        <div class="grid-row">
          <div class="column-half">
            Sub building<!-- sub_building_description --><br>
            Building<!-- house_description --><br>
            Street<!-- street_name --><br>
            Locality<!-- local_name --><br>
            Plymouth<!-- town --></br>
            PL10 1TT<!-- postcode -->
          </div>
        </div>
        <h4 class="heading-small expand-bottom-half">
          Sarah<!-- forename --> Smith<!-- surname -->
          <span class="font-small">trading as Brown Solicitors<!-- trading_name --></span>
        </h4>
        <div class="grid-row">
          <div class="column-half">
            Sub building<!-- sub_building_description --><br>
            Building<!-- house_description --><br>
            Street<!-- street_name --><br>
            Locality<!-- local_name --><br>
            Plymouth<!-- town --></br>
            PL10 1TT<!-- postcode -->
          </div>
        </div>

        <!-- Multiple proprietors, horrific cases -->
        <h4 class="heading-small expand-bottom-half">
          Browns PLC<!-- non_private_individual_name -->
        </h4>
        <div class="expand-bottom-half">Company registration number 12300123<!-- company_reg_num --></div>
        <div class="grid-row">
          <div class="column-half">
            2<!-- house_no --> Looe Street<!-- street_name --><br>
            Plymouth<!-- town --></br>
            PL10 1FF<!-- postcode -->
          </div>
          <div class="column-half">
            DX<!-- address_type -->123<!-- dx_no -->, Plymouth<!-- exchange_name -->
          </div>
        </div>
        <div class="grid-row expand-top">
          <div class="column-half">
            bp@brownsplc.com
          </div>
        </div>

        <h4 class="heading-small expand-bottom-half">
          Sally<!-- forename --> Brown<!-- surname -->
        </h4>
        <div class="grid-row">
          <div class="column-half">
            <i>care of</i><br>
            John Brown<!-- care_of_name --><br>
            1<!-- house_no --> Whistle Lane<!-- street_name --><br>
            Plymouth<!-- town --></br>
            PL10 1EA<!-- postcode -->
          </div>
          <div class="column-half">
            <i>care of</i><br>
            BFPO<!-- care_of_name --><br>
            <!-- using line breaks because https://www.gov.uk/british-forces-post-office-services -->
            Bfpo Test<!-- foreign_bfpo_address1 --><br>
            Test 1<!-- foreign_bfpo_address2 -->
          </div>
        </div>
        <div class="grid-row expand-top">
          <div class="column-half">
            <!-- using line breaks because https://www.gov.uk/british-forces-post-office-services -->
            Overseas Address<!-- foreign_bfpo_address1 --><br>
            Around the World<!-- foreign_bfpo_address2 --><br>
            Australia<!-- foreign_bfpo_address3 -->
          </div>
        </div>
        <h4 class="heading-small expand-bottom-half">
          William<!-- forename --> White<!-- surname -->
          <span class="font-small">of the charity Dogs for Life<!-- charity_name --></span>
        </h4>
        <div class="grid-row">
          <div class="column-half">
            The White House<!-- house_description --><br>
            Plymouth<!-- town --></br>
            PL10 1FF<!-- postcode -->
          </div>
        </div>
        <h4 class="heading-small expand-bottom-half">
          All Dogs PLC<!-- non_private_individual_name -->
          <span class="font-small">of the charity Dogs for Life<!-- charity_name --></span>
        </h4>
        <div class="expand-bottom-half">Company registration number 99999999<!-- company_reg_num --></div>
        <div class="grid-row">
          <div class="column-half">
            20<!-- house_no --> Carew Road<!-- street_name --><br>
            Plymouth<!-- postal_county --><br>
            PL5 2FF<!-- postcode -->
          </div>
        </div>
      </section>

      <section id="charges-register" class="text">
        <h2 class="heading-large">Charge details</h2>

        <details>
          <summary>What are the charge details?</summary>
          <div class="help-indent">
            <p>The charge details contains mortgages, and notices of any other financial burdens secured on the property. It does not disclose amounts of money involved.</p>
            <p>It also contains details of other rights and interests to which the property is subject such as leases, rights of way or restrictions on the use of the property.</p>
          </div>
        </details>


        <h4 class="heading-small expand-bottom-half">
          Registered charge dated 3 October 2012
        </h4>
        <div style="margin-left:20px">
            <b>Abbey National PLC</b><!-- non_private_individual_name -->
            <div class="expand-bottom-half">(Co. Regn. No. 1111111)<!-- company_reg_num --></div>
            <div class="grid-row">
              <div class="column-half">
                101<!-- house_no --> Midsummer Boulevard<!-- street_name --><br>
                Milton Keynes<!-- postal_county --><br>
                MK9 1AA<!-- postcode -->
              </div>
              <div class="column-half">
                DX 12345<!-- DX Address -->
              </div>
            </div>
          </br>
        </div>

        <h4 class="heading-small expand-bottom-half">
          Registered charge dated 12 January 2014
        </h4>
        <div style="margin-left:20px">
            <b>House Loans PLC</b><!-- non_private_individual_name -->
            <div class="expand-bottom-half">(Co. Regn. No. 3131313)<!-- company_reg_num --></div>
            <div class="grid-row">
              <div class="column-half">
                16<!-- house_no --> Fore Street<!-- street_name --><br>
                Plymouth<!-- postal_county --></br>
                PL1 2SD<!-- postcode -->
              </div>
        </div>
      </section>

    </div>

  </div>

</main>

{{/content}}

{{$bodyEnd}}
  {{>includes/scripts}}

  <!--
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.2.js"></script>
  <script type="text/javascript" src="/public/javascripts/stick-at-top-when-scrolling.js"></script>
  <script type="text/javascript" src="/public/javascripts/stop-scrolling-at-footer.js"></script>
  <script type="text/javascript" src="/public/vendor/leaflet/leaflet.js"></script>
  <script type="text/javascript">
    $(function() {

      // initialise map
      var map = L.map('map-location').setView([50.9090094, -1.4154123], 18);

      L.tileLayer('http://{s}.tiles.mapbox.com/v3/demotive.la5i4jpb/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery &copy; <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18
      }).addTo(map);

      var marker = L.marker([50.9090094, -1.4154123]).addTo(map);

      // stop the position:fixed subnav rolling into footer
      GOVUK.stopScrollingAtFooter.addEl($('.js-stick-at-top-when-scrolling'), $('.js-stick-at-top-when-scrolling').height());

    });
  </script>
  -->

{{/bodyEnd}}

{{/govuk_template}}
